@model Blogg.Models.BloggModel

@{
    ViewData["Title"] = "Redigera";
}

<h1>@ViewData["Title"]</h1>

<div class="detail">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="7" style="height: auto;"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Tillbaka till lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <style>
        .detail {
            background-color: rgb(231, 231, 231);
            padding: 2rem 1.5rem;
            margin-bottom: 0;
            border-radius: 10px;
            margin-bottom: 5rem;
        }

        form {
            font-size: 1.1rem;
        }

        .table {
            background-color: rgb(231, 231, 231);
        }

        input {
            margin-bottom: 1rem;
            border-radius: 10px;
        }
    </style>
}
